extends layout

block headContent
	title About

block content
	h1(class="h3") About
	hr


	p <center>Shared equity, global politics, local success:
	h1(class="h1") Bitcoin <font color="blue">1</font><font color="dark">77</font><font color="blue">6</font>
	p Bitcoin 1776 is a version of the Bitcoin Core software, forked July 4th, 2018. 
	br
	Our coin max is 17.76 million, increasing BTC holder equity to 96%. 
	br
	h2(class="h2") Bitcoin is inflating - costing electricity and resources,
	br 
	and Bitcoin contributors remain unpaid.
	p Bitcoin 1776 reduces inflation 98%, and has engineered a social solution to reward contributors. The way this works is by forming teams of 8 people to discuss, and then elect 2 representatives. These representative pairs create a new team of 8 and this stepped formation continues. 

	p During this process we distribute resources and reward contributors via the
	h2(class="h2") World Series of Bitcoin.
	p Participation is free, meeting one hour each Thursday.
	p Email to receive a Google Hangout invite: 
	h2(class="h2") jfkbitcoin1776@gmail.com

	h3(class="h3") Join or make a team to support our patriotic league!"
